/*FOR DESKTOP VERSION*/

/*for main body*/
.container-fluid
{
    height: auto;
}

/*TOP DISPLAY MENU*/

/*Remove span box from icons*/
.input-group-text
{
    background-color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

/*adding app font color to icons and nav menu list*/
.icon, .nav-link, .nav-link:hover
{
    color: #032D6D;
}

/*give card address details header color, text color too for the header and other cards for delivery method and payment*/
.addrdetials, .deliverymethod, .paymentmethod
{
     background-color: #F9A826;
     color: white;
}
/*align change link on address details card to the right side of the header and giving it style*/
.change
{
    text-align: right;
}
a, a:hover
{
    color: white;
    text-decoration: none;
}
.changelink
{
    text-align: right;
}

/*reduce size width of all cards*/
.card
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/*move address details card down a little*/
.address
{
    margin-top: 1%;
}
/*editing content for inside address details*/
.addrdetialscontent
{
    font-size: medium;
    margin-left: 0%;
}
/*move card for delivery method down a little*/
.delivery
{
    margin-top: 3%;
}
/*make all delivery info font size using p tag medium*/
p
{
    font-size: medium;
}

/*styling for row holding content for door delivery and pickupstation*/

.doordeliveryinfo
{
    margin-top: 3%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    border-radius: 7px;
/*draw border around deliveryinfo and pickupstation info*/
    border:1px solid gainsboro;
}
.pickupstationinfo
{
    margin-top: 1%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    border-radius: 7px;
/*draw border around deliveryinfo and pickupstation info*/
    border:1px solid gainsboro;
}
/*to paragraph and align the information inside the deilvery info and pickupstsation row*/
.content
{
    margin-top: 5%;
}
/*move pickup form div downwards a bit to give it space*/
.pickup
{
    margin-top: 4%;

}
/*style radio button for type of delivery*/
