@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html body{
font-family: 'Poppins';
font-size: 19px;
line-height: 1.5;
box-sizing: border-box;
margin: 0%;
overflow-x: hidden;
top: 0%;
left: 0%;
}
ul .dropdown-menu{
  background-color: rgb(144, 206, 237);
  opacity: 0.5px;
}
a {
text-decoration: none;
color: rgba(34, 54, 69, .7);
font-weight: 500px;
}
a:hover{
  color: rgb(255, 250, 250);
}
ul{
  list-style: none;
}
.navbar{
  background-color: rgb(218, 203, 7);
  padding: 3rem 2rem;
  height: 0rem;
}
.brand{
  text-decoration:underline;
}
.navbar .navbar-brand a{
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}
.navbar-brand{
  font-family: 'Pacifico';
  font-size: 2.5rem;
  color: red;
}
.navbar-toggler{
  background: darkorange;
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span{
  display: block;
  width: 22px;
  height: 2px;
   border: 1px;
   background: white;
}
.navbar-toggler span + span {
  margin-top: 4px;
  margin-left: 4px;
  width: 18px;
}
.navbar-toggler span + span + span{
  width: 10px;
  margin-left: 12px;
}
.navbar-expand-lg .navbar-nav .navbar-link{
  padding: 2rem 1.2rem;
  font-size: 1.4rem;
  position: relative;
}
.navbar-expand-lg .navbar-nav .navbar-link:hover{
  border-top: 4px solid darkorange;
}
.navbar-expand-lg .navbar-nav .navbar-link.active{
  border-top: 4px solid darkorange;
  color: darkkhaki;
}
.navbar-nav button{
  padding: 1.2rem 0;
}
.navbar-nav .btn {
  background-color: darkorange;
  color: white;
  border-radius: 0;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  margin-top: 1px;
}
.d-flex .btn:hover {
  background-color: darkorange;
}
.form-control:hover {
  border-radius: 0;
  color: darkorange;
  border-color: 3px solid darkorange;
}
.d-flex button{
  border-color: darkorange;
}
.ml-auto{
 margin-left: auto;
}
